




h1{
    font-family: fantasy; 
    color: black;
    font-size: 48px;
}

h3{
    font-family: Jazz LET, fantasy;
    color: black;
    font-size: 48px;
}


p{
    
    color: black;
    font-size: 48px;
}



#research{
    font-size: 48px;
color: blueviolet;
}

input
{
  height: 50px;
  width: 300px;
  font-size: 22px;
}

button
{
    height: 50px;
    width: 300px;
    font-size: 22px;
}